build
dist
gui/dist
gui/node_modules
gui/pnpm-lock.yaml
node_modules
pyapp/pyenv
pnpm-lock.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
